<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
		In the example below, the "SetAttributes" transform will change the value of
		"connectionString" to use "ReleaseSQLServer" only when the "Match" locator
		finds an attribute "name" that has a value of "MyDB".

		<connectionStrings>
			<add name="MyDB"
				connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
				xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		</connectionStrings>
	-->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
			In the example below, the "Replace" transform will replace the entire
			<customErrors> section of your Web.config file.
			Note that because there is only one customErrors section under the
			<system.web> node, there is no need to use the "xdt:Locator" attribute.
		-->
    <!--
    <customErrors mode="RemoteOnly" defaultRedirect="~/errorhandler/httperror/500" xdt:Transform="Replace">
      <error statusCode="400" redirect="~/errorhandler/httperror/400" />
      <error statusCode="401" redirect="~/errorhandler/httperror/401" />
      <error statusCode="408" redirect="~/errorhandler/httperror/403" />
      <error statusCode="404" redirect="~/errorhandler/httperror/404" />
      <error statusCode="403" redirect="~/errorhandler/httperror/408" />
      <error statusCode="500" redirect="~/errorhandler/httperror/500" />
      <error statusCode="503" redirect="~/errorhandler/httperror/503" />
		</customErrors>
    -->
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Replace">
      <remove statusCode="400"/>
      <error statusCode="400" path="/errorhandler/httperror/400" responseMode="Redirect"/>
      <remove statusCode="401"/>
      <error statusCode="401" path="/errorhandler/httperror/401" responseMode="Redirect"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="/errorhandler/httperror/403" responseMode="Redirect"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="/errorhandler/httperror/404" responseMode="Redirect"/>
      <remove statusCode="408"/>
      <error statusCode="408" path="/errorhandler/httperror/408" responseMode="Redirect"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/errorhandler/httperror/500" responseMode="Redirect"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="/errorhandler/httperror/503" responseMode="Redirect"/>
    </httpErrors>
  </system.webServer>
</configuration>
