@{
	ViewBag.Title = "About Sokool.Net";
}
<div class="container jumbotron">
	<h2>@ViewBag.Title</h2>
	<h3>@ViewBag.Message</h3>
</div>
<div class="container mt-0 ">
	<div class="mb-2">
		This "responsive" web site serves as a home to SokoolTools and is used primarily by its author to <i>
			<b>showcase</b>
		</i> (or more importantly, to <i><b>experiment</b></i> with) the latest Microsoft .NET web technologies.
	</div>
	<div class="mb-2">
		The site has been finely crafted using the following resources: Microsoft ASP.NET MVC 5, Razor, HTML5, CSS3, BootStrap, Popper,
		Font-Awesome, jQuery, jQuery-UI, and more...
	</div>
	<div class="mb-2">
		The data displayed in both the <a href="/photos/photos1/0">Photos1</a> view and <a href="/photos/photos2/0">Photos2</a> view,
		as well as the <a href="/videos/index/across">Videos</a> view is generated 'dynamically' by
		the ASP.Net server by reading all assets placed into the designated web folders using high speed parallel processing.
	</div>
	<div class="mb-2">
		The <a href="/photos/photos2/0">Photos2</a> view provides a user friendly interface using a Bootstrap photo carousel/slide show.
	</div>
	<div class="mb-2">
		The specific <a href="/videos/show/across?fn=A%20Little%20Help%20From%20My%20Friends.mp4">Video</a> view utilizes a jQuery-UI <i>draggable</i>, <i>non-modal</i> dialog to display the corresponding lyrics since this is not otherwise possible using BootStrap.<br />
		It also uses a separate BootStrap Tab for categorizing the videos. Some javascript had to be created to correctly activate the current nav tab and the video tab corresponding to the current MVC View.
	</div>
	<div class="mt-4">
		NOTE: If you are interested, other Microsoft Window's based projects created by this author can be found on <i class="fa fa-fw fa-github "></i> Github using this link:
		<a href="https://sokooltools.github.io/Index" title="SokoolTools.github.io" rel="nofollow" target="_blank">SokoolTools.github.io/</a>
	</div>
</div>