@{
	ViewBag.Title = "How to contact Sokool.net";
}

<div class="container jumbotron">
	<h2>@ViewBag.Title</h2>
</div>

<address>
	1234 Black River Falls Drive<br />
	Henderson, NV 89044<br />
	725.555.3710
</address>

<div class="table">
	<div class="row">
		<div class="col col-3 col-md-1 ml-3 pl-1">Support:</div>
		<div class="col col-md-3"><a href="mailto:misc@sokool.net">misc@sokool.net</a></div>
	</div>
	<div class="row">
		<div class="col col-3 col-md-1 ml-3 pl-1">Consulting:</div>
		<div class="col"><a href="mailto:jobs@sokool.net">jobs@sokool.net</a></div>
	</div>
</div>

<span>
	Find out more about the creator of this web site by visiting:
</span>
<div class="LI-profile-badge mt-2 mb-2" data-version="v1" data-size="medium" data-locale="en_US"
	 data-type="horizontal" data-theme="dark" data-vanity="ronn-sokol">
	<a class="LI-simple-link" href="https://www.linkedin.com/in/ronn-sokol?trk=profile-badge">Ronn Sokol</a>
</div>


@section Scripts {
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
}
