@using Sokool.Net.DataLibrary.Data
@model IEnumerable<Sample>
@{
	ViewBag.Title = "Samples";
}

@*<link rel="stylesheet" href="~/Content/css/samples.css" />*@

<div class="container">
	<div class="row">
		<div>
			@foreach (Sample sample in Model.Where(m => !m.Name.StartsWith("_")))
			{
				<div class="photo-div">
					<a href="@Url.Action(@sample.Name, "Samples")" class="nav-link"><i class="fa fa-fw fa-html5"></i>@sample.Name</a>
				</div>
			}
		</div>
	</div>
</div>

@section Scripts {
	@*<script src="~/content/scripts/_samples.js"></script>*@
}