/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 65px;
}

.card-body {
    padding: .75rem 1.25rem;
}
.card-title {
    margin-bottom: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    width: 100%;
    background-color: #555;
    /*overflow: auto;*/
}
    .navbar a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #e9f5f0;
        }

.navbar-dark .nav-item > .nav-link.active {
    color: rgb(200, 190, 190);
    background-color: red;
}

.active {
    background-color: #4CAF50;
}

.dropdown-item.active {
    background-color: #4CAF50;
}

/* -------------------------------------------------- */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.gray {
    color: blue;
}

/* -------------------------------------------*/

@media screen and (max-width: 575px) {
    /*.container.body-content {
        margin-top: 22rem;
    }*/

    footer {
        font-size: 60%;
    }

    #Lyrics {
        font-size: .8rem;
    }
}

@media screen and (min-width: 576px) {
    .container.body-content {
        margin-top: 4rem;
    }

    footer {
        font-size: 80%;
    }

    #Lyrics {
        font-size: .8rem;
    }
}

@media screen and (min-width: 625px) {
    .container.body-content {
        margin-top: 2.75rem;
    }

    footer {
        font-size: 90%;
    }

    #Lyrics {
        font-size: .9rem;
    }
}

@media screen and (min-width: 841px) {
    .container.body-content {
        margin-top: 1rem;
    }

    footer {
        font-size: 100%;
    }

    #Lyrics {
        font-size: 1rem;
    }
}
