@using Sokool.Net.DataLibrary.Data
@model IEnumerable<Photo>
@{
	ViewBag.Title = "Photos2";
}

@section Styles {
	<link rel="stylesheet" href="~/Content/css/photos.css" />
}

@{
	Html.RenderPartial("_HeaderTabBar");
}

<!--
	Gallery is linked to lightbox using data attributes.
	To open lightbox, this is added to the gallery element: {data-toggle="modal" data-target="#photoModal"}.
	To open carousel on correct image, this is added to each image element: {data-target="#photoCarousel" data-slide-to="0"}.
	Replace '0' with corresponding slide number.
-->

<div class="grid mt-1 mt-md-2" id="gallery" data-toggle="modal" data-target="#photoModal">
	@{
		int ii = 0;
		foreach (Photo photo in Model)
		{
			<img class="w-100" src="@Url.Content(photo.Path)" alt="Slide-@ii" data-target="#photoCarousel" data-slide-to=@ii>
			ii += 1;
		}
	}
</div>

<!-- Modal - This part is straight out of Bootstrap docs. Just a carousel inside a modal. -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="photoCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">

						@{
							int jj = 0;
							string txt1 = "class=active";
							foreach (Photo photo in Model)
							{
								if (jj != 0) { txt1 = ""; }
								<li data-target="#photoCarousel" data-slide-to=@jj @txt1></li>
								jj += 1;
							}
						}
					</ol>
					<div class="carousel-inner">
						@{
							int nn = 0;
							string txt2 = "active";
							foreach (Photo photo in Model)
							{
								if (nn != 0) { txt2 = ""; }
								<div class="carousel-item @txt2">
									<img class="d-block w-100" src="@Url.Content(photo.Path)" alt="Slide-@nn">
								</div>
								nn += 1;
							}
						}
					</div>
					<a class="carousel-control-prev" href="#photoCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#photoCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@*@section Scripts {
	<script src="~/content/scripts/_photos2.js"></script>
}*@
